/**
* Welcome to your ✨𝔲𝔱𝔦𝔩𝔦𝔱𝔶 𝔰𝔱𝔶𝔩𝔢𝔰✨!
* This file includes utility classes that are super simple
* and can be used to add general styles; variable definitions
* for colors; and styles to html, body, and other high level
* DOMs.
* 
* All utility classes start with a `u-` and all do
* one basic CSS thing (for example, making the font-weight
* 600 for bolding) or are super generic.
* 
* This is 𝙉𝙊𝙏 the place to define classes for components or
* do rigorous styling. You shoud not need to change this file
* much after initial creation.
*/

/* TODO: REPLACE WITH YOUR OWN FONT! */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
:root {
  --background: #222228;
  --navy: #0f0ff7;
  --red: #ff3dab;
  --blue: #338bff;
  --pink: #ff3ddf;
  --orange: #ffb800;
  --primary: rgb(41, 41, 41);
  --primary--dim: rgb(29, 29, 29);
  --yellow: rgb(255, 221, 0);
  --green: rgb(72, 247, 145);
  --light--blue: rgb(179, 222, 255);
  --darkgrey: #d4d4d4;
  --medgrey: #e0e0e0;
  --grey: #f7f7f7;
  --white: #fff;
  --black: rgb(0, 0, 0);

  --xs: 4px;
  --s: 8px;
  --m: 16px;
  --l: 24px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: var(--background);
  color: white;
}

form {
  flex-grow: 1;
}

.u-flex {
  display: flex;
}

.u-flexColumn {
  display: flex;
  flex-direction: column;
}

.u-flex-justifyCenter {
  justify-content: center;
}

.u-flex-alignCenter {
  align-items: center;
}

.u-inlineBlock {
  display: inline-block;
}

.u-bold {
  font-weight: 600;
}

.u-textCenter {
  text-align: center;
}

.u-relative {
  position: relative;
}

.u-pointer {
  cursor: pointer;
}

.u-link {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.u-link:hover {
  color: var(--primary--dim);
}

.u-alignRight {
  float: right;
}

.u-circular-button {
  border-radius: 50%;
  font-family: "Josefin Sans", serif;
  background: (45deg, #0f0ff7, #ff3dab);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out; /* Ensures circles stay above other elements */
}

/* Bouncing Effect on Hover */
.u-circular-button:hover {
  animation: bounce 0.3s ease-in-out infinite alternate;
}

/* Bouncing Animation */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
