/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0px;
  background: linear-gradient(90deg, var(--light--navy), var(--light--magenta));
  border-radius: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  max-width: 100%;
  margin-bottom: 8px;
}
