.submitButton {
  color: var(--black);
  background-color: var(--light--blue);
  transition: color 0.1s, background 0.1s;
}

.container {
  display: flex;
  width: 100%;
  padding: 5px;
}

.searchBarWrapper {
  flex-grow: 1;
  padding: 5px;
  margin: 0px 10px 0px 0px;
  border: var(--light--blue) 2px solid;
  font-size: large;
  color: var(--white);
  display: flex;
  background-color: rgb(37, 46, 81);
}

.searchBar {
  box-shadow: none;
  text-shadow: none;
  color: var(--white);
  display: inline-block;
  max-width: 100%;
  flex-grow: 1;
  background-color: var(--primary);
}
