.menuItemWrap {
  display: flex;
  border-style: solid;
  border-color: rgb(247, 72, 87);
  justify-content: space-between;
  margin: 5px 0px;
  padding: 0px 10px;
}

.left-aligned {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
}

.right-aligned {
  display: flex;
  justify-content: right;
  gap: 20px;
}

.itemName {
  font-weight: bold;
}
