.menuItemWrap {
  padding: 5px 10px 0px 20px;
  font-size: 16px;
  border-radius: 999px;
  background: linear-gradient(90deg, var(--dark--navy), var(--dark--magenta));
  max-width: 100%;
  font-family: "Josefin Sans", serif;
  font-weight: 380;
  height: 50px;
  align-items: center;
  white-space: nowrap;
}

.left-aligned {
  display: flex;
  font-weight: 300;
  flex-grow: 1;
  overflow: clip;
  max-width: calc(100% - 90px);
  gap: 5px;
}

.right-aligned {
  display: flex;
  align-items: center;
  font-weight: 300;
  max-width: fit-content;
  gap: 5px;
}

.itemName {
  font-weight: 600;
  text-transform: uppercase;
  text-overflow: ellipsis;
}
.active,
.menuItemWrap:hover {
  background: linear-gradient(90deg, var(--mid--navy), var(--mid--magenta));
}
