section {
  background-color: var(--primary--dim);
  color: var(--white);
  padding: 20px;
}

.menuTitle {
  font-size: 60px;
  padding: 30px 0 0 10px;
}

.itemArray {
  display: grid;
  row-gap: 5px;
}
