.menuItemWrap {
  display: flex;
  justify-content: space-between;
  padding: 1px 15px;
  font-size: 16px;
  border-radius: 999px;
  background: linear-gradient(90deg, var(--dark--navy), var(--dark--magenta));

  font-family: "Josefin Sans", serif;
  font-weight: 380;
  height: 50px;
  align-items: center;
}

.left-aligned {
  gap: 20px;
  display: flex;
  align-items: center;
}

.right-aligned {
  gap: 20px;
  display: flex;
  align-items: center;
}

.itemName {
  font-weight: bold;
  text-transform: "uppercase";
}
.active,
.menuItemWrap:hover {
  background: linear-gradient(90deg, var(--mid--navy), var(--mid--magenta));
}
