.submitButton {
  color: rgb(0, 0, 0);
  background-color: rgb(179, 222, 255);
  transition: color 0.1s, background 0.1s;
}

.container {
  display: flex;
  width: 100%;
  padding: 5px;
}

.searchBarWrapper {
  flex-grow: 1;
  padding: 5px;
  margin: 0px 10px 0px 0px;
  border: rgb(179, 222, 255) 2px solid;
  font-size: large;
  color: white;
  display: flex;
  background-color: rgb(37, 46, 81);
}

.searchBar {
  box-shadow: none;
  text-shadow: none;
  color: rgb(255, 255, 255);
  display: inline-block;
  max-width: 100%;
  flex-grow: 1;
  background-color: rgb(41, 46, 65);
}
