.navbar {
  position: relative;
  background: linear-gradient(45deg, #5619ff, #340f99); /* Example Gradient */
  height: 80px; /* Adjust as needed */
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.navbar-title {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

/* Navigation Menu */
.nav-menu {
  position: absolute;
  bottom: 40%; /* Centers the circles vertically relative to the navbar */
  right: 20px;
  display: flex;
  transform: translateY(60%); /* Pushes the circles downward */
}

/* Circle Buttons */
.nav-circle {
  font-size: 24px;
}

.nav-circle-search {
  width: 100px;
  height: 100px;
  background: linear-gradient(135deg, var(--blue), var(--purple));
  position: absolute;
  top: -10px;
  right: 0px;
  z-index: 10;
  font-size: 60px;
}

.nav-circle-profile {
  width: 80px;
  height: 80px;
  background: linear-gradient(135deg, var(--grape), var(--pink));
  bottom: -40px;
  position: absolute;
  right: 70px;
  z-index: 6;
}

.nav-circle-home {
  width: 65px;
  height: 65px;
  background: linear-gradient(135deg, var(--purple), var(--cherry));
  position: absolute;
  right: 130px;
  top: -10px;
  z-index: 12;
}

/* Active and Inactive Styles */
.active-page {
  background: linear-gradient(45deg, var(--orange), var(--red)); /* Yellow-Orange */
}

.inactive-page {
  background: linear-gradient(45deg, #8d33ff, #ff3d6e); /* Purple-Pink */
}

.signout {
  padding: 10px 20px;
  border-radius: 999px;
  color: white;
  background: none;
  font-size: 16px;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
  font-weight: 600;
  width: 70px;
  height: 70px;
}
