.reviewSubmitButton {
  color: var(--black);
  background-color: var(--yellow);
  transition: color 0.1s, background 0.1s;
}

.reviewInput {
  background-color: var(--primary--dim);
  color: var(--white);
  display: inline-block;
  max-width: 100%;
  flex-grow: 1;
}

.reviewInputWrapper {
  flex-grow: 1;
  padding: 5px;
  border: var(--yellow) 2px solid;
  font-size: medium;
  color: var(--white);
  display: flex;
}

.reviewcontainer {
  display: flex;
  width: 100%;
  padding: 0px;
}
