.reviewSubmitButton {
  color: var(--white);
  font-size: 60px;
  font-weight: 200;
  transition: color 0.1s, background 0.1s;
  display: flex;
  width: 40px;
  height: 40px;
  background: linear-gradient(45deg, var(--orange), var(--pink));
}

.reviewInput {
  all: unset;
  background: linear-gradient(90deg, var(--mid--navy), var(--mid--magenta));
  padding: 10px;
  border-radius: 100px;
  color: var(--white);
  opacity: 100%;
  display: inline-block;
  flex-grow: 1;
}

.reviewInputWrapper {
  flex-grow: 1;
  font-size: medium;
  color: var(--white);
  display: flex;
}

.reviewcontainer {
  display: flex;
  width: 100%;
  margin-top: 5px;
  padding: 5px;
}
