.reviewWrap {
  display: flex;
  border-style: solid;
  border-color: rgb(72, 247, 145);
  justify-content: space-between;
  margin: 5px 20px;
  padding: 0px 10px;
}

.userName {
  font-weight: 800 !important;
}
