.reviewWrap1 {
  border-style: solid;
  border-color: rgb(72, 247, 145);
  padding: 0px 10px;
}

.reviewWrap {
  display: flex;
}

.userName {
  font-weight: 800;
  text-decoration: underline;
}

.rating {
  color: rgb(255, 221, 0);
}

.reviewText {
  color: rgb(196, 196, 196);
}
