.reviewWrap1 {
  border-style: solid;
  border-color: rgb(72, 247, 145);
  padding: 0px 10px;
}

.reviewWrap {
  display: flex;
  justify-content: space-between;
}

.userName {
  font-weight: 800 !important;
}
